<a href="#" class="close-js close-details btn-cta">✖</a>
<h1 class="cutted" title="Geocentrico">Geocentrico</h1>
<div class="video-container">
    <object type="application/x-shockwave-flash" style="width:382px; height:215px" data="http://www.youtube.com/v/k-OZQ7zCBSU?version=3&hd=1&iv_load_policy=3&rel=0&showinfo=0&showsearch=0">
        <param name="wmode" value="opaque" />
        <param name="allowFullScreen" value="true" />
        <param name="movie" value="http://www.youtube.com/v/k-OZQ7zCBSU" />
    </object>
</div>

<div class="video-infos">
    <a href="#" class="remove-js fav-btn cutted btn-cta"><span>★</span> Von Favoriten entfernen</a>
    <a href="#" class="save-js fav-btn cutted btn-cta"> <span>☆</span> Zu Favoriten hinzufügen</a>
</div>


